*{
    margin:0;
    padding:0;
}

.encabezado{
    background-color:rgb(250, 181, 228);
    width: 100%;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-nav{
    background-color: rgb(168, 98, 238);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.principal{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie{
    background-color: rgb(202, 157, 247);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}